@keyframes pulse {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* CSS vars */
:root {
  --unit: 8px;
  --font-stack-sans: "Montserrat", Helvetica, Arial, sans-serif;
  color: #333;
}

#root {
  box-sizing: border-box;
  max-width: 100dvw;
  margin: 0;
  padding: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
}

html, 
body,
#root
{
  font-family: var(--font-stack-sans);
  height: 100%;
}

.loading {
  position: absolute;
  font-weight: bold;
  display: flex;
  animation: pulse 3s infinite ease-in-out;
  align-items: center;
  justify-content: center;
}
